/.idea/
/week03/.idea/
/homework/week04/alone_shoppingmall/.idea/
/week04/.idea/
/projects/justwatch/.idea/
/projects/moviestar/.idea/
/../venv/
/week04/venv/
/week06/venv/
/projects/birdcomming/venv/
/projects/birdcomming/.idea/
