<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>스파르타코딩클럽 | 새가 날아든다</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>

        $(document).ready(function () {
            getMessages();
        })

        function getMessages() {
            $('#cards-box').empty();

            $.ajax({
                type: "GET",
                url: "/message",
                data: {},
                success: function (response) {
                    let messages = response['messages'];
                    for (let i = 0; i < messages.length; i++) {
                        let message = messages[i];
                        let username = message['username'];
                        let contents = message['contents'];
                        let created_at = message['created_at'];

                        addHTML(username, contents, created_at);
                    }
                }
            });
        }

        function addHTML(username, contents, created_at) {
            let tempHTML = `<div class="card custom-card">
                <div class="card-body">
                    <textarea id="${username}-textarea" class="area-edit" cols="80"></textarea>
                    <h5 id="${username}-contents" class="card-title">${contents}</h5>
                    <h6 id="${username}-username" class="card-subtitle mb-2 text-muted">${username}</h6>
                    <h6 class="card-subtitle mb-2 text-muted">${created_at}</h6>
                </div>
                <footer class="card-footer">
                    <a id="${username}-edit" href="#" class="card-footer-item" onclick="editPost('${username}')">수정</a>
                    <a id="${username}-cancel" href="#" class="card-footer-item area-edit" onclick="hideEdits('${username}')">취소</a>
                    <a id="${username}-submit" href="#" class="card-footer-item area-edit" onclick="submitEdit('${username}')">수정완료</a>
                </footer>
            </div>`;

            $('#cards-box').append(tempHTML);

        }

        function openclose() {
            let status = $('#post-box').css('display');
            if (status === 'block') {
                $('#post-box').hide();
            } else {
                $('#post-box').show();
            }
        }

        function isValidContents(contents) {
            if (contents == '') {
                return false;
            }
            if (contents.trim().length > 140) {
                return false;
            }
            return true;
        }

        // 필요한 길이에 맞게 임의의 문자열을 만든다.
        function genRandomName(length) {
            // 돌려줄 임의의 문자열
            let result = '';
            // 임의의 문자열이 될 수 있는 후보
            let characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
            let charactersLength = characters.length;
            // 주어진 길이에 맞게 문자열을 만든다.
            for (let i = 0; i < length; i++) {
                // 0과 같거나 그보다 크고, charactersLength 보다 작은 임의의 숫자를 뽑는다.
                let number = Math.random() * charactersLength;
                // number 가 소수라면 정수로 만든다. (ex. 7.23 -> 7)
                let index = Math.floor(number);
                // index 위치에 있는 문자열 하나를 result에 더한다.
                result += characters.charAt(index);
            }
            // 임의의 문자열을 반환한다.
            return result;
        }

        function writePost() {
            let contents = $('#contents').val();

            if (isValidContents(contents) === false) {
                alert('올바른 내용을 입력하세요');
                return;
            }
            // 길이 10의 랜덤 문자열을 뽑는다.
            let username = genRandomName(6);

            $.ajax({
                type: "POST",
                url: "/message",
                data: {'username_give': username, 'contents_give': contents},
                success: function (response) {
                    if (response['result'] == 'success') {
                        // 서버에서 받아온 메시지를 보여준다.
                        alert(response['msg']);
                        // 메시지를 저장한 후 창을 새로고침한다. -> 새롭게 조회하기 위해!
                        window.location.reload();
                    }
                }
            });
        }

        // 수정 버튼을 누르면 editPost 함수가 호출된다.
        // 어떤 메모인지 알기 위해 username 전달 받는다.
        function editPost(username) {
            // username이 일치하는 메모에 수정 입력칸을 보여준다.
            showEdits(username);
            // 기존 메모 내용을 가져온다.
            let contents = $(`#${username}-contents`).text();
            // 수정 입력 칸에 기존 메모 내용을 넣어둔다.
            $(`#${username}-textarea`).val(contents);
        }

        function showEdits(username) {
            // 수정 입력 칸, 수정완료 버튼, 취소 버튼을 보여준다.
            $(`#${username}-textarea`).show();
            $(`#${username}-submit`).show();
            $(`#${username}-cancel`).show();

            // 메모 내용, 수정 버튼을 숨긴다.
            $(`#${username}-contents`).hide();
            $(`#${username}-edit`).hide();
        }

        // 취소 버튼을 누르면 hideEdits 함수가 호출된다.
        // 어떤 메모인지 알기 위해 username 전달 받는다.
        function hideEdits(username) {
            // 수정 입력 칸, 수정완료 버튼, 취소 버튼을 숨긴다.
            $(`#${username}-textarea`).hide();
            $(`#${username}-submit`).hide();
            $(`#${username}-cancel`).hide();

            // 메모 내용, 수정 버튼을 보여준다.
            $(`#${username}-contents`).show();
            $(`#${username}-edit`).show();
        }

        function submitEdit(username) {
            let contents = $(`#${username}-textarea`).val();

            if (isValidContents(contents) === false) {
                alert('올바른 내용을 입력하세요');
                return;
            }

            $.ajax({
                type: "POST",
                url: "/message/edit",
                data: {'username_give': username, 'contents_give': contents},
                success: function (response) {
                    if (response['result'] == 'success') {
                        alert(response['msg']);
                        // 변경된 메모를 보기 위해 창을 새로고침한다.
                        window.location.reload();
                    } else {
                        alert('메시지 변경에 실패했습니다.');
                    }
                }
            });
        }
    </script>

    <style>
        .area-edit {
            display: none;
        }

        .wrap {
            width: 700px;
            margin: 10px auto;
        }

        #contents {
            width: 700px;
        }

        .area-write {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: center;
        }

        .custom-card {
            margin: 20px 0 20px 0;
        }

        #post-box {
            display: none;
        }
    </style>
</head>

<body>
<div class="wrap">
    <div class="header">
        <h1>새가 날아든다</h1>
        <p>
            <button onclick="openclose()" type="button" class="btn btn-outline-info btn-sm">공유하고 싶은 소식</button>
            을
            입력해주세요.
            24시간이 지난 뒤에는 사라집니다.
        </p>
    </div>
    <div id="post-box">
        <div class="area-write">
            <textarea placeholder="공유하고 싶은 소식을 입력해주세요" name="contents" id="contents" cols="30" rows="10"></textarea>
            <button class="btn btn-danger" onclick="writePost()">작성하기</button>
        </div>
    </div>
    <div id="cards-box" class="area-read">
        <div class="card">
            <header class="card-header">
                <p class="card-header-title">
                    Component
                </p>
                <a href="#" class="card-header-icon" aria-label="more options">
                        <span class="icon">
                            <i class="fas fa-angle-down" aria-hidden="true"></i>
                        </span>
                </a>
            </header>
            <div class="card-content">
                <div class="content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                    <a href="#">@bulmaio</a>. <a href="#">#css</a> <a href="#">#responsive</a>
                    <br>
                    <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
                </div>
            </div>
            <footer class="card-footer">
                <a href="#" class="card-footer-item">Save</a>
                <a href="#" class="card-footer-item">Edit</a>
                <a href="#" class="card-footer-item">Delete</a>
            </footer>
        </div>
    </div>
</div>
</body>

</html>